    <div class="nav flex-column nav-pills" id="pc-pills-tab" role="tablist" aria-orientation="vertical">
        <a href="/Portfolio/Index"><img src="~/Content/images/logo.png" alt="" /></a>
        <a class="pill active" id="pc-pills-healthy-portfolio-tab"
           data-toggle="pill" role="tab" href="/Portfolio/Index"
           data-sectionref="portfoliocube" data-sectionarg="portfoliocube"
           aria-controls="pc-pills-healthy-portfolio" aria-selected="true">
            <img src="~/Content/images/cube-icon.png" alt="" />
            Portfolio
        </a>
        <a class="pill" id="pc-pills-etfs-tab"
           data-toggle="pill" role="tab" href="/ETF/Index"
           data-sectionref="etftracker" data-sectionarg="etftracker"
           aria-controls="v-pills-etfs" aria-selected="false">
            <img src="~/Content/images/check-icon.png" alt="" />
            ETFs
        </a>
        <a class="pill" id="pc-pills-earnings-tab"
           data-toggle="pill active" role="tab" href="/ETF/Index"
           data-sectionref="earningstracker" data-sectionarg="earningstracker"
           aria-controls="v-pills-earnings" aria-selected="false">
            <img src="~/Content/images/compute-icon.png" alt="" />
            Earnings
        </a>
        <a class="pill" id="pc-pills-model-forecast-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="v-pills-model-forecast" aria-selected="false">
            <img src="~/Content/images/wave-icon.png" alt="" />
            Forecasts
        </a>
        <a class="pill" id="pc-pills-industry-tracker-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="pc-pills-industry-tracker" aria-selected="false">
            <img src="~/Content/images/eye-icon.png" alt="" />
            Industries

        </a>
        <a class="pill" id="pc-pills-market-tracker-tab"
           data-toggle="pill" role="tab" href="/Home/EmbedReport/0"
           aria-controls="v-pills-market-tracker" aria-selected="false">
            <img src="~/Content/images/target-icon.png" alt="" />
            Markets
        </a>
        <a class="pill" id="pc-pills-exchange-tracker-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="v-pills-exchange-tracker" aria-selected="false">
            <img src="~/Content/images/target-icon.png" alt="" />
            Exchanges
        </a>
        <a class="pill" id="pc-pills-company-tracker-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="v-pills-company-tracker" aria-selected="false">
            <img src="~/Content/images/track-icon.png" alt="" />
            Companies
        </a>
        <a class="pill" id="pc-pills-esg-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="v-pills-esg" aria-selected="false">
            <img src="~/Content/images/check-icon.png" alt="" />
            ESG
        </a>
        <a class="pill" id="pc-pills-bond-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="v-pills-bond" aria-selected="false">
            <img src="~/Content/images/eye-icon.png" alt="" />
            Bonds
        </a>
        <a class="pill" id="pc-pills-mutual-funds-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="v-pills-mutual-funds" aria-selected="false">
            <img src="~/Content/images/eye-icon.png" alt="" />
            Mutual Funds
        </a>
        <a class="pill" id="pc-pills-ratings-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="v-pills-ratings" aria-selected="false">
            <img src="~/Content/images/graph-icon.png" alt="" />
            Ratings
        </a>
        <a class="pill" id="pc-pills-smart-news-tab"
           data-toggle="pill" role="tab" href="#"
           aria-controls="v-pills-smart-news" aria-selected="false">
            <img src="~/Content/images/news-icon.png" alt="" />
            SMART News
        </a>
        <a class="invisible" href="#" data-sectionref="portfoliocheckup"></a>
        <a class="invisible" href="#" data-sectionref="portfoliohidden"></a>
        <a class="invisible" href="#" data-sectionref="portfolioratings"></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light mobile-menu">
        <a class="navbar-brand mr-4" href="#"><img src="~/Content/images/logo.png" alt="" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#mobileMenuDropdown" aria-controls="mobileMenuDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="pcmobileMenuDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" id="pc-pills-healthy-portfolio-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-healthy-portfolio" aria-selected="true">
                        <img src="~/Content/images/cube-icon.png" alt="" />
                        Portolio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-etfs-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-etfs" aria-selected="false">
                        <img src="~/Content/images/check-icon.png" alt="" />
                        ETFs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-earnings-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-earnings" aria-selected="false">
                        <img src="~/Content/images/compute-icon.png" alt="" />
                        Earnings
                    </a>
                <li class="nav-item">
                </li>
                <a class="nav-link" id="pc-pills-model-forecast-tab"
                   data-toggle="pill" role="tab" href="#"
                   aria-controls="pc-pills-model-forecast" aria-selected="false">
                    <img src="~/Content/images/wave-icon.png" alt="" />
                    Forecasts
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-industry-tracker-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-industry-tracker" aria-selected="false">
                        <img src="~/Content/images/eye-icon.png" alt="" />
                        Industries
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-market-tracker-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-market-tracker" aria-selected="false">
                        <img src="~/Content/images/target-icon.png" alt="" />
                        Markets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-exchange-tracker-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-exchange-tracker" aria-selected="false">
                        <img src="~/Content/images/target-icon.png" alt="" />
                        Exchanges
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-company-tracker-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-company-tracker" aria-selected="false">
                        <img src="~/Content/images/track-icon.png" alt="" />
                        Companies
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-esg-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-esg" aria-selected="false">
                        <img src="~/Content/images/check-icon.png" alt="" />
                        ESG
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-bond-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-bond" aria-selected="false">
                        <img src="~/Content/images/eye-icon.png" alt="" />
                        Bonds
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-mutual-funds-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-mutual-funds" aria-selected="false">
                        <img src="~/Content/images/eye-icon.png" alt="" />
                        Mutual Funds
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-ratings-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-ratings" aria-selected="false">
                        <img src="~/Content/images/graph-icon.png" alt="" />
                        Ratings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pc-pills-smart-news-tab"
                       data-toggle="pill" role="tab" href="#"
                       aria-controls="pc-pills-smart-news" aria-selected="false">
                        <img src="~/Content/images/news-icon.png" alt="" />
                        SMART News
                    </a>
                </li>
            </ul>
        </div>
    </nav>