main {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-style: normal;
    display: flex;
    height: 100vw;
}

.logo-container {
    height: 80px;
    display: inline-block;
    float: left;
    margin: 15px 0 0 3px;
}

.logo-container img {
    height: 36px;
    padding: 0 2px;
}

.login-logo {
    font-size: 21px;
    font-family: 'Poppins';
    color: #000;
    font-weight: 400;
    padding: 10px;
}

.login-body-wrapper, 
.registration-body-wrapper{
    width: 100%;
}

.content-wapper {
    display: flex;
}

.email-form-wrapper .person-name-wrapper {
    display: flex;
}

.email-form-wrapper .person-name-wrapper input {
    flex-grow: 1;
}

.email-form-wrapper .name-entry-wrapper:first-child input {
    margin-right: 10px;
}


.login-section .content-wapper {
    width: 100%;
}

/*DESKTOP*/
@media only screen and (min-width: 940px) {
    main .login {
        display: flex;
        align-items: stretch;
        height: 100%;
        flex-direction: row;
    }

    .logo-container {
        height: 40px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .section-title {
        font-size: 37px;
    }

    .login-section, .registration-section, .login-side-section{
        padding: 160px 20px;
    }

    .login-section {
        display: flex;
        flex-direction: column;
        width: 70%;
    }


    .third-party-button {
        margin-top: 30px;
    }


    .email-form-wrapper .name-entry-wrapper .form-field {
        width: 168px;
    }

    .email-form-wrapper .form-field {
        width: 345px;
    }


    .login-form-row.button-group {
        height: 48px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .content-wapper {
        display: flex;
    }

    .thirdparty-form-wrapper {
        flex-grow: 1;
        width: 100%;
    }

    .email-form-wrapper {
        flex-grow: 1;
        width: 100%;
    }

    .line-wrapper .line-inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .line-wrapper {
        flex-grow: 0;
        width: 16%;
    }

    .line-wrapper .word {
        width: 20px;
        flex-grow: 0;
        height: 15px;
        font-size: 10pt;
        color: #aaa;
        margin: 10px 0;
    }

    .line-wrapper .line {
        border-left: #ddd 1px solid;
        width: 1px;
        flex-grow: 1;
    }

    .copyright-footer {
        padding-left: 50px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        /* identical to box height */
        display: flex;
        align-items: center;
        color: #222222;
    }

    .registration-section {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: #943581;
    }

    .login-side-section {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: #5A9D92;
    }

    .login-side-panel {
        display: flex;
        flex-direction: column;
        background: #943581;
        height: 100vh;
        position: relative;
        padding-top: 250px;
    }

}


.button-group DIV {
    display: inline-block;
    margin-right: 5px;
}


/*MOBILE*/
@media only screen and (max-width: 939px) {

    main.login {
        display: flex;
        align-items: stretch;
        height: 100%;
        flex-direction: column;
    }

    .logo-container {
        height: 40px;
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
    }

    .section-title {
        font-size: 37px;
    }

    .third-party-button {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .email-form-wrapper .name-entry-wrapper .form-field {
        width: 173px;
    }


    .login-form-row.button-group {
        height: 48px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .login-section {
        padding: 10px 20px 40px;
    }

    .login-form .form-control {
        width: 355px;
    }

    .registration-section {
        padding: 40px 20px;
    }

    .login-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content-wapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .email-form-wrapper {
        align-self: center;
        flex-grow: 0;

    }

    .thirdparty-form-wrapper {
        flex-grow: 0;
    }

    .line-wrapper .line-inner-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    .line-wrapper {
        flex-grow: 0;
        margin: 14px 0;
    }

    .line-wrapper .word {
        flex-grow: 0;
        height: 15px;
        font-size: 10pt;
        color: #aaa;
        width: 40px;
        text-align: center;
        margin: 0 10px;
    }

    .line-wrapper .line {
        border-top: #ddd 1px solid;
        width: 60px;
        height: 1px;
        flex-grow: 1;
    }

    .login-form .form-control {
        width: 355px;
    }

    .login .fixed-bottom {
        margin-top: 40px;
        display: block;
        position: inherit;
    }
 
    .copyright-footer {
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-size: 9pt;
        font-weight: 500;
        align-items: center;
        color: #ffffff;
        text-align: center;
    }

    .registration-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #943581;
    }

    .login-side-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #5A9D92;
        padding: 30px 20px;
    }

    .login-side-panel {
        display: flex;
        flex-direction: row;
        background: #943581;
        height: 100vh;
        position: relative;
        padding-top: 250px;
    }

}


/*MOBILE NARROW*/
@media only screen and (max-width: 420px) {
    .section-title {
        font-size: 30px;
    }

    .login-form .form-control {
        font-size: 10pt;
        width: 100%;
    }

    .login-form-row.button-group {
        height: auto;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .login-form .form-check {
        display: block;
        margin-top: 10px;
        padding-left: 0;
    }

    .email-form-wrapper .person-name-wrapper {
        flex-wrap: wrap;
    }

    .login-body-wrapper .email-form-wrapper,
    .registration-body-wrapper .email-form-wrapper{
        width: 100%;
    }

    .registration-body-wrapper .email-form-wrapper .login-form-row.wrapping-row{
        height: auto;
    }

    .registration-body-wrapper .email-form-wrapper .name-entry-wrapper .form-field {
        width: 100%;
    }

    .registration-body-wrapper .email-form-wrapper .name-entry-wrapper{
        width: 100%;
    }

    .form-group .name-entry-wrapper:first-child {
        margin-bottom: 15px;
    }
}



.login-side-panel span.title {
    align-self: center;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 49.5px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.login-side-panel p {
    align-self: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.login-side-panel button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #848484;
}


.zeromargin {
    margin-left: 0px;
    margin-right: 0px;
}



.section-title {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    text-align: center;
    color: #000000;
}

.page-sub-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 161.4%;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}


.signup-wrapper {
    text-align: center;
}

.signup-wrapper .section-title,
.signup-wrapper p {
    color: #fff;
}

.registration-body-wrapper .third-party-button{
    border: 1px solid #ced4da;
    width: 240px;
}


.login-body-wrapper .third-party-button {
    border: 1px solid #ced4da;
    width: 230px;
}

.login-body-wrapper .third-party-button img,
.registration-body-wrapper .third-party-button img{
    width: 24px;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin: 0px 2px 1px 0;
    border-radius: 2px;
}

.button-text {
    display: inline-block;
    margin-top: 2px;
    vertical-align: top;
}


.thirdparty-form-wrapper {
    text-align: right;
}

.login-form label {
    font-size: 10pt;
    font-weight: 500;
    color: #777;
}

.login-form-row {
    height: 80px;
}

.login-form .form-check-input {
    margin-left: 0;
    vertical-align: top;
    margin-top: 5px;
    position: inherit;
    margin-left: 4px;
    padding: 0;
}

.forgot-password-wrapper a:link,
.forgot-password-wrapper a:visited {
    font-size: 11pt;
}